.heatmap {
  width: 100%;
  height: auto;
  font: 10px sans-serif;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: white;
  color: black;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
